@media (max-width: 991.5px) {
    .nav {
        border: none !important;
        .navToggle {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    .navCollapse {
        position: absolute;
        width: 240px;
        top: 60px;
        right: 0;
        padding: 8px 12px;
        background: #fff;
        box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
        border-radius: 6px;
    }
    .navContainer {
        flex-direction: column !important;
        align-items: start !important;
        margin: 0 !important;
        div {
            width: 100%;
            padding: 8px 0 !important;
            &:hover {
                cursor: pointer;
                background: #e7f1f7f4;
            }
        }
    }
    .btns {
        margin-top: 10px;
    }
    .user {
        position: absolute;
        right: 50px;
    }
}
